.section {
  composes:container from './container.module.css';
  composes:directionRow from './flex.module.css';
}
.photo {
  border-radius: 100%;
  margin-right: 5rem;
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
  box-shadow: 0 0 50px .2px #c2c2c2bf;
  transition: .5s;
  opacity: .7;
}
.photo:hover {
  opacity: 1;
  cursor: pointer;
}
.title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 40px;
}
.content {
  font-size: 20px;
  line-height: 2rem;
  letter-spacing: 2px;
}
.linkIcon {
  text-align: center;
  margin-top: 40px;
}
.linkIcon>a {
  margin: 0 30px;
}