.section {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.photo {
  border-radius: 100%;
  margin-right: 5rem;
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
  box-shadow: 0 0 50px .2px #c2c2c2bf;
  transition: .5s;
  opacity: .7;
}
.photo:hover {
  opacity: 1;
  cursor: pointer;
}
.title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 40px;
}
.content {
  font-size: 20px;
  line-height: 2rem;
  letter-spacing: 2px;
}
.linkIcon {
  text-align: center;
  margin-top: 40px;
}
.linkIcon>a {
  margin: 0 30px;
}

/* Mobile version */
@media (max-width:768px) {
  .section {
    flex-direction: column;
    margin: 10px;
    text-align: center;
  }
  .photo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
    opacity: 1;
  }
  .title {
    margin: 10px 0;
    font-size: 28px;
  }
  .content {
    font-size: 18px;
    margin:10px 0;
  }
  .linkIcon {
    margin-top: 15px;
  }
}