@value light from './colors.module.css';
@value dark from './colors.module.css';

.section {
  height: calc(100vh - 80px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fieldset {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  border-radius: 30px;
}
.fieldset>legend {
  text-align: center;
  font-size: 50px;
}
.fieldset>label {
  font-size: 22px;
  margin-top: 20px;
}
.fieldset>input {
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 20px;
  color: dark;
  margin-top: 5px;
}
.fieldset>input::placeholder {
  color: #ccc;
}
.fieldset>input[type='email'] {
  border: none;
}
.fieldset>textarea {
  resize: none;
  color: dark;
  padding: 10px 20px;
  font-size: 20px;
  margin: 5px 0;
  border-radius: 30px;
  border: none;
  margin-bottom: 15px;
}
.fieldset>textarea::placeholder {
  color: #ccc;
}
.userName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.userNameInput>label {
  font-size: 22px;
  margin-top: 20px;
}
.userNameInput>input {
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 20px;
  color: dark;
  margin: 5px;
  border: none;
}
.userNameInput>input::placeholder {
  color: #ccc;
}
.userNameInput {
  display: flex;
  flex-direction: column;
}
.userNameInput>input[id='firstName'] {
  margin-right: 5px;
}
.btn {
  text-align: center;
}
.btn>button {
  font-size: 22px;
  cursor: pointer;
  width: 200px;
  height: 40px;
  border:none;
  border-radius:10px;
  color: dark;
  transition: .3s;
}
.btn>button:hover {
  background: dark;
  color: light;
  border: .5px solid light;
}
.icon {
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Mobile version */
@media (max-width:768px) {
  .section {
    height: 100%;
    margin-top: 50px;
  }
  .fieldset>legend {
    font-size: 35px;
  }
  .fieldset>textarea {
    padding: 10px 20px; 
    font-size: 18px;
  }
  .userName {
    flex-direction: column;
  }
  .btn>button {
    width: 100px;
    height: 35px;
  }
}