@value light from './colors.module.css';
@value dark from './colors.module.css';

.header {
  width: 100%;
  height: 80px;
  position: sticky;
  color: light;
}
.title {
  font-size: 42px;
  letter-spacing: 1.5px;
}
.title>a>span {
  color: red;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 30px;
}
.navItems {
  display: flex;
  align-items: center;
  height: 100%;
  letter-spacing: 1px;
}
.navItems>a {
  transition: .3s;
}
.navItems>ul {
  font-size: 22px;
  margin: 0 20px;
  transition: .3s;
}
.navItems>ul:hover {
  border-bottom: 5px solid light;
}
.navItems>a:hover {
  padding-bottom: 20px;
}
.menu {
  display: none;
}
.dropdownMenu {
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: light;
}
.dropdownMenu>a {
  width:100%;
  font-size: 20px;
  padding: 10px 0;
  margin: 1px 0;
  color: dark !important;
}

/* Mobile version */
@media (max-width:768px) {
  .header .title {
    font-size: 32px;
    letter-spacing:2px;
  }
  .header .menu {
    display: inline-block;
  }
  .header .navItems {
    display: none;
    flex-direction: column;
  }
  .header .dropdownMenu {
    display: flex;
  }
}